*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

/index.php
/application/config/config.php
/application/config/database.php
/application/config/facebook.php
/application/config/site.php

*.DS_Store